@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

body{
    background-color: #faf7f2 !important; 
}

.presentacion h1{
    font-family: "Lato", sans-serif;

}
.presentacion h2{
    font-family: "Lato", sans-serif;
    font-size: 0.7rem;
}

#skillDiv, #studyDiv, #contactDiv{
    display: none;
}

.seccion-toggle {
    margin-bottom: 2rem;
}

