/*Barra de navegacion*/
.navbar{
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
html {
    scroll-behavior: smooth !important;
}
/*estilos generales*/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
    font-family: "Montserrat",cursive;

}

seccion-titulo{
    padding: 15px 0;
    font-size: 2rem;
    font-family: "Roboto Flex", sans-serif;
}

seccion-texto{
    font-size: 1.2rem;

}

/*seccion Hero*/
.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}

.hero-imagen-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;

}

.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
}

/*Experiencia*/

.experiencia{
    padding: 40px 40px 60px 40px;
}

/*.experiencia .row div{
    height: 250px;
    background-color: #f5f6f7;
    border: 3px solid black;
}*/
.seccion-clara{
    background-color: white;
    color: black;
}

.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0;
} 

.proyecto{
    position: relative;
}
.experiencia i {
    font-size: 2.5rem;
    color: hsl(94, 59%, 77%);
    background-color: #101049;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover{
    color: white;
    background-color: #1b1b32;
}

.overlay .iconos-contenedor{
    display: flex;

}

.overlay i{
    color: black;
    font-size: 60px;
    margin: 10px;
}

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge{
    margin:10px;
}

/*Proyectos*/

.proyectos-recientes{
    padding: 40px;

}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}
.texto-negro{
    color: black;
}
.texto-blanco{
    color:white;
}
.seccion-descripcion{
    font-size: 1.2rem;
    color: #58452e;
}

.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto:hover img {
    opacity: 0.2;

}
.proyecto:hover .overlay{
    opacity: 1;
}



/*contacto*/

.contacto.container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.rectangulo{
    margin-top: -3rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion{
    color: white;
    font-size: 1.2rem;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;

}

.contacto button i {
    font-size: 1.3rem;
    color: white;
    transition: all 0.2s ease-in-out;
}

.seccion-oscura{
   background-color: #101049;
   color: white;
   

}

.contacto button:hover{
    background-color: white;
    color: #1b1b32;


}

.contacto button:hover i {
    color: #1b1b32;;
}


/*pie de pagina*/
footer{
    min-height: 500px;
}

.footer-icono{
    font-size: 40px;
    margin: 10px;
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
   
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid white;
    transition: 0.2s all ease-in;

}

.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: 0.2s all ease-in;
}

.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid rgb(13,110,253);
}

.iconos-redes-sociales i:hover{
    color: black;
}

.derechos-de-autor{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}
/*adaptable responsivo*/

@media screen  and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
    
}

@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
    
}