/* Títulos de sección */
.section-min-title {
    color: #212529;
    margin-bottom: 1rem;
    position: relative;
}

.section-min-subtitle {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Títulos de sección */
.section-min-title {
    color: #212529;
    margin-bottom: 1rem;
    position: relative;
}

.section-min-subtitle {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Tarjeta de Proyecto */
.proyecto {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    /* Aquí controlas el redondeo de la tarjeta completa */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.proyecto:hover {
    transform: translateY(-5px);
}



/* Estilos del texto dentro del overlay */
.project-title {
    font-weight: bold;
    font-size: 1.30rem;
    margin-bottom: 8px;
    color: #fff;
}

.project-desc {
    font-size: 0.9rem;
    opacity: 0.9;
    color: #fff;
    margin-bottom: 15px;
}
